<div class="main_div">
    <h1>Why Choose Us?</h1>
    <img src="assets/page-header-default.jpg" alt="" />
  
    <div class="breadcrumb_div">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Why Choose Us</li>
        </ol>
      </nav>
    </div>
  </div>


  <div class="container main_section">
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-12 image_div">
        <img src="assets/about-us-8.jpg" alt="why-choose-us">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 content_div">
        <div class="heading_div">
          <h1>Why <span>Our</span> Services</h1>
        </div>

        <div class="paragraph_div">
          <p>We provide an independent advice and identifying the right fit for you. Services are sourced and procured based on solution specifications provided by our Supply Chain Solution. <br><br>

            Our teams work around the clock, 365 days a year, to take care of any unexpected circumstances in which speed is a top priority. We offer a variety of ways to reduce transit times, coordinate and arrange immediate deliveries in the shortest time possible, ideal for both regular and single shipments.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container services_section">

    <div class="service_heading_div">
      <h1>Reasons to <span>Choose</span> Us</h1>
    </div>
    <div class="row internal_div">
      <div class="col-md-4 col-lg-4">
        <div>
          <img src="assets/quality.png" alt="quality-images">
        </div>
        <div class="services_content">
          <h3>Quality</h3>
          <p>At Sinosef, we deliver Quality with Customer Satisfaction and Continuous Improvements. Our belief is that focusing on Customer Satisfaction and adherence to Continuous Improvements and Quality Standards are essential aspects in order to remain competitive in today’s marketplace. The main objective of the company is to focus our activities on current and future requirements of our customers. The Company’s motto of “Excellence through Quality” describes its uncompromising adherence to quality standards and pursuit for Continuous Improvements.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div>
          <img src="assets/experience.png" alt="quality-images">
        </div>
        <div class="services_content">
          <h3>Experience</h3>
          <p>Construction is Sinosef’s core business. Since its inception for the last 22 years, the Construction division has been sculpting the face of many big industries and real state companies Always committed to the highest standards of quality and performance, our professionals are the foundation upon which we have built our name as a competitive contraction company. Our passion for innovation and efficiency has won us numerous awards and recognition.</p>
        </div>
      </div>
      <div class="col-md-4 col-lg-4">
        <div>
          <i class="fa fa-medkit" aria-hidden="true"></i>
        </div>
        <div class="services_content">
          <h3>Safety</h3>
          <p>Sinosef has main objective to prevent accidents, occupational diseases and atmospheric pollution at the work place. In order to reduce the construction risks at our projects, Sinosef has adopted best safety practices and applied new technologies such as the Edge Protection Fencing System to safeguard the workers from falling from height accidents. Such systems can also be used horizontally as the fall can occur in any way.</p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4">
        <div>
          <i class="fa fa-rocket" aria-hidden="true"></i>
        </div>
        <div class="services_content">
          <h3>Speed</h3>
          <p>Sinosef Is known for its timely delivery of the projects. We never delay the task assigned to us therefore, many big industries are interested to deal with us. Over the years, the Company progressively built on its delivery capabilities, competitive prowess and financial capacity to strengthen its footing as a reputable local contractor. </p>
        </div>
      </div>

      <div class="col-md-4 col-lg-4">
        <div>
          <img src="assets/communication.png" alt="quality-images">
        </div>
        <div class="services_content">
          <h3>Communication</h3>
          <p>Sinosef is dedicated to provide with personalized service to the customers to ensure that you maintain close connection with your project. Our team will provide regular updates to you and our office staff is more than happy to discuss your project with you should you have any queries or concerns along the way.</p>
        </div>

      </div>

      <div class="col-md-4 col-lg-4">
        <div>
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div class="services_content">
          <h3>Quality Resource</h3>
          <p>Sinosef has placed an emphasis on developing a quality conscious culture in regards to the processes and systems at every level of operations to increase the employees’ awareness of their responsibilities and commitment towards quality excellence. Quality control is a process or practice that is used to gauge the quality of a product or service</p>
        </div>
      </div>
    </div>
  </div>
  

  <div class="container contact_us_div">
    <h1>Our list of services does not end here. We’ll adapt to your particular needs.  <span>Contact Us</span></h1>
  </div>